{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block h1 %}
    {{ title }}
{% endblock %}

{% block body %}
<div class="abt mt-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quidem dignissimos voluptatibus ducimus cum deleniti at quis cupiditate minus molestiae amet neque, aliquam voluptates rem? Culpa id mollitia explicabo adipisci.</p>
</div>
   
{% endblock %}
{% block aside %}
    <img src="https://envato-shoebox-0.imgix.net/1d72/3bb0-4d6f-4c97-950a-69c07ed7e24a/ALE03443-45.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=1000&fit=max&markalign=center%2Cmiddle&markalpha=18&s=dc1632d068c8b1500fea4214345ec469" class="img-thumbnail mt-4">
{% endblock %}
