{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block h1 %}
    {{ title }}
{% endblock %}

{% block body %}
        <div class="alert alert-light">
            <p>{{ object.text|safe }}</p>
            <div class="row">
                <div>
                    <img src="{{ object.avtor.profile.img.url }}" alt="{{ object.avtor }}" class="user_img">
                </div>
                <div class="mt-2">
                    <span class="text-muted">Opublikowany: {{ object.date|date:"j F Y, H:i" }}</span>
                    <p>
                        <b>Autor:</b> 
                        <a href="{% url 'user-articles' object.avtor %}">{{ object.avtor }}</a>
                    </p>
                </div>
            </div>
            {% if object.avtor == user %}
            <hr>
            <div class="btn">
                <a href="{% url 'update' object.id %}">
                    <button class="btn btn-outline-info">Edytuj</button>
                </a>
                <a href="{% url 'delete' object.id %}">
                    <button class="btn btn-outline-danger">Usuń</button>
                </a>
            </div>
            {% endif %}
        </div>
{% endblock %}
{% block aside %}
    <img src="https://d1bltcifwhkdae.cloudfront.net/uploads/LP_Photo_Food.jpg" class="img-thumbnail mt-4">
{% endblock %}
